################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/POPSAPI/bin/Debug/netcoreapp3.1
/src/POPSAPI/obj
/src/POPSAPI/POPSAPI.csproj.user
